# Dependencies
node_modules/

# Build output
build/

# Release artefact (keep in repo only if you want to version it)
release/

# OS files
.DS_Store
Thumbs.db

# Editor dirs
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

repository.zip